name: Setup Maven
description: Configure Maven with Nexus settings

runs:
  using: "composite"
  steps:
    - name: Configure Maven settings.xml
      shell: bash
      run: |
        mkdir -p ~/.m2
        cat > ~/.m2/settings.xml <<EOF
        <?xml version="1.0" encoding="UTF-8"?>
        <settings>
          <servers>
            <server>
              <id>smax</id>
              <username>${NEXUS_USER}</username>
              <password>${NEXUS_PASS}</password>
            </server>
            <server>
              <id>smax-release</id>
              <username>${NEXUS_USER}</username>
              <password>${NEXUS_PASS}</password>
            </server>
          </servers>

          <profiles>
            <profile>
              <id>smax-profile</id>
              <repositories>
                <repository>
                  <id>smax</id>
                  <url>https://repo.southmax.com/repository/smax-maven/</url>
                  <releases><enabled>true</enabled></releases>
                  <snapshots><enabled>true</enabled><updatePolicy>always</updatePolicy></snapshots>
                </repository>
              </repositories>
              <pluginRepositories>
                <pluginRepository>
                  <id>smax</id>
                  <url>https://repo.southmax.com/repository/smax-maven/</url>
                  <releases><enabled>true</enabled></releases>
                  <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
              </pluginRepositories>
            </profile>
          </profiles>

          <activeProfiles>
            <activeProfile>smax-profile</activeProfile>
          </activeProfiles>

          <mirrors>
            <mirror>
              <id>smax</id>
              <mirrorOf>*</mirrorOf>
              <url>https://repo.southmax.com/repository/smax-maven/</url>
            </mirror>
          </mirrors>
        </settings>
        EOF
