name: CI/CD

on:
  push:
    branches:
      - dev
    tags:
      - "sit/*"
      - "main/*"
      - "release/*"
    paths-ignore:
      - .github/workflows/**

  pull_request:
    branches:
      - dev
      - sit
      - main
    paths-ignore:
      - .github/workflows/**

jobs:
  pr-build:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

  validate:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Validate Tag
        run: |
          REF="$GITHUB_REF"
          
          if [[ "$REF" == "refs/tags/sit/"* ]]; then
            git fetch origin sit
            TAG_COMMIT=$(git rev-parse HEAD)
            BRANCH_HEAD=$(git rev-parse origin/sit)
          
            if [[ "$TAG_COMMIT" != "$BRANCH_HEAD" ]]; then
              echo "Warning: Tag is not on the HEAD of sit branch"
              echo "Tag commit: $TAG_COMMIT"
              echo "Branch HEAD: $BRANCH_HEAD"
              exit 1
            fi
          
          elif [[ "$REF" == "refs/tags/main/"* || "$REF" == "refs/tags/release/"* ]]; then
            git fetch origin main
            TAG_COMMIT=$(git rev-parse HEAD)
            BRANCH_HEAD=$(git rev-parse origin/main)
          
            if [[ "$TAG_COMMIT" != "$BRANCH_HEAD" ]]; then
              echo "Warning: Tag is not on the HEAD of main branch"
              echo "Tag commit: $TAG_COMMIT"
              echo "Branch HEAD: $BRANCH_HEAD"
              exit 1
            fi
          fi

  deploy:
    if: github.event_name == 'push' && always()
    needs: [validate]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set Env
        run: |
          REF="$GITHUB_REF"
          if [[ "$REF" == "refs/heads/dev" ]]; then
            ENV="dev"
            TAG="dev-$(TZ=Asia/Taipei date +'%Y%m%d%H%M%S')"
          
          elif [[ "$REF" == "refs/tags/sit/"* ]]; then
            ENV="sit"
            VERSION="${REF#refs/tags/sit/}"
            VERSION="${VERSION//\//-}"
            TAG="sit-${VERSION}"
      
          elif [[ "$REF" == "refs/tags/main/"* || "$REF" == "refs/tags/release/"* ]]; then
            ENV="release"
            VERSION="${REF#refs/tags/*/}"
            VERSION="${VERSION//\//-}"
            TAG="release-${VERSION}"
          fi
        
          echo "ENV=$ENV" >> $GITHUB_ENV
          echo "TAG=$TAG" >> $GITHUB_ENV
