name: CI/CD

on:
  push:
    # 僅 dev 是看 push 推送,sit、main 僅看 tags
    branches:
      - dev
    tags:
      - "sit/*"
      - "main/*"
      - "release/*"
    paths-ignore:
      - .github/workflows/**

  pull_request:
    branches:
      - dev
      - sit
      - main
    paths-ignore:
      - .github/workflows/**

jobs:
  # PR 階段只做檢查
  pr-build:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    env:
      NEXUS_USER: github
      NEXUS_PASS: ${{ secrets.NEXUS_GITHUB_PASSWORD }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Amazon Corretto JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'maven'

      - name: Setup Maven
        uses: ./.github/actions/setup-maven

      - name: install with Maven
        run: mvn clean install

  deploy:
    # Push 才做 deploy
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    env:
      NEXUS_USER: github
      NEXUS_PASS: ${{ secrets.NEXUS_GITHUB_PASSWORD }}
      REPO_NAME: ${{ github.event.repository.name }}
    steps:
      - uses: actions/checkout@v4

      # 驗證 Tag 是否在分支 HEAD
      - name: Validate Tag is on Branch HEAD
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          REF="$GITHUB_REF"
          
          if [[ "$REF" == "refs/tags/sit/"* ]]; then
            BRANCH="sit"
          elif [[ "$REF" == "refs/tags/main/"* || "$REF" == "refs/tags/release/"* ]]; then
            BRANCH="main"
          fi
          
          if [[ -n "$BRANCH" ]]; then
            git fetch origin "$BRANCH"
            TAG_COMMIT=$(git rev-parse HEAD)
            BRANCH_HEAD=$(git rev-parse "origin/$BRANCH")
            
            if [[ "$TAG_COMMIT" != "$BRANCH_HEAD" ]]; then
              echo "❌ Error: Tag must be created on the HEAD commit of $BRANCH branch"
              echo "Tag commit: $TAG_COMMIT"
              echo "Branch HEAD: $BRANCH_HEAD"
              exit 1
            else
              echo "✅ Tag is on the HEAD of $BRANCH branch"
            fi
          fi

      # Set Env
      - name: Set Env
        run: |
          REF="$GITHUB_REF"
          if [[ "$REF" == "refs/heads/dev" ]]; then
            ENV="dev"
            TAG="dev-$(TZ=Asia/Taipei date +'%Y%m%d%H%M%S')"
          
          elif [[ "$REF" == "refs/tags/sit/"* ]]; then
            ENV="sit"
            VERSION="${REF#refs/tags/sit/}"
            VERSION="${VERSION//\//-}"
            TAG="sit-${VERSION}"
          
          elif [[ "$REF" == "refs/tags/main/"* || "$REF" == "refs/tags/release/"* ]]; then
            ENV="release"
            VERSION="${REF#refs/tags/*/}"
            VERSION="${VERSION//\//-}"
            TAG="release-${VERSION}"
          fi
        
          echo "ENV=$ENV" >> $GITHUB_ENV
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "Environment: $ENV"
          echo "Tag: $TAG"
